[user]
	email = nicksil@gmail.com
	name = Nick Silvester
[core]
	editor = vim
[diff]
	indentHeuristic = on
[alias]
	a = add -A
	amend = commit --amend
	br = branch
	cm = commit -m
	co = checkout
	cob = checkout -b
	l = log --graph --pretty=oneline --abbrev-commit --decorate=short
	la = log --graph --pretty=oneline --abbrev-commit --decorate=short --branches --tags --remotes
	ll = log --graph --date=short --pretty='%Cgreen%h %Cblue%cd%Creset %s'
	lp = -c pager.log='LESSHISTFILE=- less --pattern=^CommitDate:' log -p --pretty=fuller
	ls = log --stat --pretty=fuller
	s = status
	w = diff --color-words=.
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
